<h1>By The Cake!</h1>
<h2>Enjoy our awesome cakes</h2>


<ul>
    <li>
        <a href="/">Home</a>
        <ol>
            <li>
                <a href="/profile">Our Cakes</a>
            </li>
            <li>
                <a href="/profile">Our Stores</a>
            </li>
        </ol>
    </li>
    <li>
        <a href="/profile">My Profile</a>
    </li>
    <li>
        <a href="/addcake">Add Cake</a>
    </li>
    <li>
        <a href="/profile">Browse Cakes</a>
    </li>
    <li>
        <a href="/profile">About Us</a>
    </li>
    <li>
        <a href="https://www.google.com/">Google</a>
    </li>
    <li>
        <a href="https://www.google.com/">Need Help?</a>
    </li>
</ul>

<a href="/logout">Logout</a>